!!!
%html(lang="en" data-framework="hyalite")
  %head
    %meta(charset="utf-8")
    %title Writting web application in Ruby
    %link(rel="stylesheet" href="css/application.css")

  %body
    %section.hyaslide

    = javascript_include_tag 'application'

