html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

::selection {
  background: #770;
}

.gibier {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 32px;
}

.gibier .background {
  height: 100%;
  background-color: #222;
  color: #fff;
}

.gibier .background-filter {
  height: 100%;
  width: 100%;
  position: absolute;
}

.slide {
  position: absolute;
  width: 960px;
  height: 720px;
  margin: 0 auto;
}

.wrap-page {
  width: 960px;
  height: 720px;
  margin: 0 auto;
  color: #000;
  background-color: #fff;
  margin-bottom: 60px;
  page-break-after: always;
}

.print {
  background: #fff;
  background-color: #fff;
  color: #000;
}

.slide .page {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
}

.slide-controll {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slide-controll .page-back {
  position: absolute;
  width: 25%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
}

.slide-controll .page-forward {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 75%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
}

.page p.icon {
  margin: 0;
  position: absolute;
  top: 5.7em;
  left: 25em;
}

.page p.icon img {
  width: 3em;
}

.page code {
  font-size: 0.8em;
}


.page h3 img {
  width: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
}

.page h4 img {
  width: 80%;
  margin: 0 auto;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.page img {
  width: 1em;
  background-size: contain;
  background-repeat: no-repeat;
}

.page p.large {
  text-align: center;
  margin: 0;
}

.page p.large img {
  width: 80%;
}

h1 {
  font-size: 1.6em;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  text-align: center;
}

h4 {
  font-size: 1.0em;
  text-align: center;
}

.page ul ul {
  font-size: 0.9em;
}

.page li {
  padding-left: 16px;
}

.page .author {
  text-align: right;
  padding-right: 20%;
}

a:link {
  color: #cee;
  text-decoration: none;
}

a:visited {
  color: #cee;
  text-decoration: none;
}

a:hover {
  color: #cca;
  text-decoration: underline;
}

a:active {
  color: #cee;
  text-decoration: none;
}

.track-field {
  position: absolute;
  bottom: 1em;
  width: 100%;
  height: 70px;
}

.track-field .avatar {
  position: absolute;
  left: 2%;
  width: 48px;
  height: 48px;
  background-size: contain;
  border-radius: 4px;
}

.track-field .flag {
  position: absolute;
  width: 30px;
  height: 60px;
  background-image: url("../images/flag.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 900;
}

.track-field .rabbit {
  background-image: url("../images/hunter.png");
  background-repeat: no-repeat;
  z-index: 1000;
}

.track-field .turtle {
  background-image: url("../images/usagitokame.png");
  background-repeat: no-repeat;
  z-index: 999;
  top: 30px;
}

.footer .title {
  position: absolute;
  bottom: 4px;
  left: 16px;
  margin: 0;
  font-size: 0.6em;
  color: #888;
}

.footer .powered-by {
  position: absolute;
  bottom: 4px;
  right: 16px;
  margin: 0;
  font-size: 0.6em;
  color: #888;
}

.footer .powered-by .hyalite {
  color: #ee8;
  font-weight: bold;
}

.duration {
  display: none;
}
